
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --gradient-primary: linear-gradient(135deg, #27ae60 0%, #219653 50%, #2c3e50 100%);
    --gradient-reverse: linear-gradient(135deg, #2c3e50 0%, #27ae60 100%);
    --gradient-accent: linear-gradient(135deg, #2ecc71 0%, #27ae60 100%);
    --text-dark: #2c3e50;
    --text-light: #f8fff9;
    --accent-color: #2ecc71;
    --accent-color-darker: #27ad60;
    --accent-color-light: #79fab5;
    --border-radius: 24px;
    --light-shade-bg: #f0f5f3;
    --primary-font: 'Poppins', sans-serif;
}


html{
    margin: 0 !important;  /* Remove default margin */
    padding: 0 !important; /* Remove default padding */
    display: block !important;  /* This is the default, so this is optional */
    box-sizing: border-box;
    /* background: var(--gradient-primary); */
    background: var(--gradient-reverse);
}

body{
    margin: 0px !important;
}

*{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    box-sizing: border-box;
}


/* In your main.js or a global Vue component
const setViewportHeight = () => {
  const vh = window.innerHeight * 0.01;
  document.documentElement.style.setProperty('--vh', `${vh}px`);
};

window.addEventListener('resize', setViewportHeight);
setViewportHeight();

height: calc(var(--vh, 1vh) * 100);
height: calc(var(--vh, 1vh) * 100);

height: calc(var(--vh, 1vh) * 80);
height: calc(var(--vh, 1vh) * 80); */
